.reservationForm { 
  margin-block-start: 120px; 
  margin-block-end: 50px; 
  color: var(--white);
}
.formText { 
  margin-block-end: 40px; 
}
.formText .link {
  display: inline;
  color: var(--bright-teal);
}
.formRight .headline1 { 
  margin-block-end: 40px; 
}
.formRight .contactLabel { 
  margin-block-end: 5px; 
}
.formRight .separator { 
  margin: 20px auto; 
}
.formRight .body4 {
  color: var(--quick-silver);
  line-height: var(--lineHeight-3);
}
.formRight .body4:not(:last-child) { 
  margin-block-end: 25px; 
}
.formLeft,
.formRight { 
  padding: 40px 20px 30px; 
}
.formLeft {
  display: flex;
  flex-direction: column;
}
.formLeft .btn {
  max-width: 100%;
  width: 100%;
}
.buttonWrapper {
  width: 100%;
}
.buttonWrapper .btn,
.buttonWrapper button {
  width: 100% !important;
  max-width: 100% !important;
}
.formRight {
  background-repeat: repeat;
  background-position: top left;
}
.formRightBg {
  background-color: #094653;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%230e5b62' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}
.inputWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}
.headline1 { 
  margin-block-end: 40px; 
}
.contactLabel { 
  margin-block-end: 5px; 
}
.separator { 
  margin: 20px auto; 
}
.body4 {
  color: var(--quick-silver);
  line-height: var(--lineHeight-3);
}
.body4:not(:last-child) { 
  margin-block-end: 25px; 
}
.link {
  display: inline;
  color: var(--bright-teal);
}

@media (min-width: 480px) {
  .reservationForm {
    margin-block-end: 10px;
  }
}

@media (min-width: 768px) {
  .inputWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .inputWrapper:nth-child(4) {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .reservationForm {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
  }
}