@import "tailwindcss";

@layer base {
  :root {
    /* COLORS */
    --soft-coral: hsl(10, 75%, 75%);
    --vibrant-coral: hsl(10, 80%, 62%);
    --vibrant-coral_30: hsla(10, 80%, 62%, 0.3);
    --bright-teal: hsl(175, 65%, 45%);
    --deep-teal: hsl(180, 70%, 30%);
    --darkest-teal: hsl(185, 75%, 22%); 
    --rich-navy-teal: hsl(190, 80%, 18%);
    --soft-mint_50: hsla(170, 35%, 92%, 0.5); 
    --pale-aqua: hsl(175, 45%, 96%);
    --teal-gray: hsl(180, 18%, 48%);
    --light-seafoam: hsl(170, 30%, 90%);
    --crisp-cyan-white: hsl(180, 35%, 98%);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --black_8: hsla(0, 0%, 0%, 0.08);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --charcoal-blue: hsl(185, 18%, 22%); 

    /* GRADIENT COLOR */
    --gradient: linear-gradient( 90deg, var(--bright-teal) 0%, var(--vibrant-coral) 100%);

    /* TYPOGRAPHY */

    /* font-family */
    --fontFamily-roboto: "Roboto", sans-serif;
    --fontFamily-poppins: "Poppins", sans-serif;

    /* font-size */
    --fontSize-1: 4rem;
    --fontSize-2: 3.6rem;
    --fontSize-3: 3.2rem;
    --fontSize-4: 2.4rem;
    --fontSize-5: 2.2rem;
    --fontSize-6: 1.8rem;
    --fontSize-7: 1.6rem;
    --fontSize-headline-1: calc(2rem + 2.5vw);
    --fontSize-body-1: 2.4rem;
    --fontSize-body-4: 1.6rem;

    /* font-weight */
    --weight-800: 800;
    --weight-700: 700;
    --weight-600: 600;
    --weight-500: 500;
    --weight-regular: 400;

    /* line-height */
    --lineHeight-2: 1.2em;
    --lineHeight-6: 1.4em;

    /* SPACING */
    --section-padding: 120px;

    /* SHADOW */
    --shadow-1: 4px 4px 15px var(--black_10);
    --shadow-2: 0 10px 15px var(--black_10);
    --shadow-3: 0px 20px 60px var(--black_8);
    --shadow-4: 0px 10px 30px var(--vibrant-coral_30);
    --shadow-5: 0px 2px 60px 0px var(--black_10);

    /* BORDER RADIUS*/
    --radius-6: 6px;
    --radius-4: 4px;

    /* TRANSITION */
    --transition: 0.25s ease;
    --transition-2: 500ms ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  }

  /* RESET */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  li { 
    list-style: none; 
  }
  a {
  text-decoration: none;
  color: inherit;
  }
  a,
  img,
  span,
  input,
  button,
  select,
  ion-icon { 
    display: block; 
  }
  img { 
    height: auto; 
  }
  input,
  select,
  button {
    background: none;
    border: none;
    font: inherit;
  }
  input,
  select { 
    width: 100%; 
  }
  select {
    outline: none;
  }
  button { 
    cursor: pointer; 
  }
  ion-icon { 
    pointer-events: none; 
  }
  address { 
    font-style: normal; 
  }
  html {
    font-family: var(--fontFamily-roboto);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--white);
    color: var(--teal-gray);
    font-size: 1.5rem;
  }
  input:-webkit-autofill,
  textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--darkest-teal) inset !important;
    -webkit-text-fill-color: var(--white) !important;
    transition: background-color 5000s ease-in-out 0s;
    border: 1px solid var(--charcoal-blue) !important;
  }
  input:-moz-autofill,
  textarea:-moz-autofill {
    background-color: var(--darkest-teal);
    color: var(--white);
    border: 1px solid var(--bright-teal) !important;
  }
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill:focus {
    border: 1px solid var(--bright-teal) !important;
    outline: none !important;
  }
  input:-moz-autofill:focus,
  textarea:-moz-autofill:focus,
  select:-moz-autofill:focus {
    border: 1px solid var(--bright-teal) !important;
    outline: none !important;
  }
  input:-webkit-autofill::placeholder,
  textarea:-webkit-autofill::placeholder {
    color: var(--white) !important;
    opacity: 1 !important;
  }
}

@layer components {
  /* TYPOGRAPHY */
  .headline-1 {
    color: var(--white);
    font-family: var(--fontFamily-roboto);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-2);
    font-size: var(--fontSize-headline-1); 
  }
  .body-1 {
    font-size: var(--fontSize-body-1);
    line-height: var(--lineHeight-6); 
  }
  .body-4 { 
    font-size: var(--fontSize-body-4);
  }

  /* REUSABLE STYLES */
  .custom-container { 
    padding-inline: 25px; 
  }
  .section { 
    padding-block: var(--section-padding); 
  }
  .section-subtitle {
    color: var(--vibrant-coral);
    font-family: var(--fontFamily-poppins);
    font-size: var(--fontSize-6);
    font-weight: var(--weight-700);
    text-transform: uppercase;
    margin-block-end: 10px;
  }
  .h1,
  .h2,
  .h3,
  .h25 {
    font-family: var(--fontFamily-poppins);
    line-height: 1.2;
  }
  .h1 {
    color: var(--deep-teal);
    font-size: var(--fontSize-2);
  }
  .h2,
  .h3 { 
    color: var(--darkest-teal); 
  }
  .h2 { 
    font-size: var(--fontSize-1); 
  }
  .h25 {
    color: var(--deep-teal);
    font-size: 2.6rem;
  }
  .h3 { 
    font-size: var(--fontSize-5); 
  }
  .btn {
    background-image: linear-gradient( var(--deg, 90deg), var(--bright-teal) 0%, var(--vibrant-coral) 100%);  /* var(--deg, 90deg) → “Use the value of the custom property --deg if it’s defined; otherwise, use 90deg as the fallback.” */ 
    color: var(--white);
    font-size: var(--fontSize-7);
    text-transform: uppercase;
    padding: 20px 30px;
    text-align: center;
    border-radius: var(--radius-4);
    box-shadow: var(--shadow-4);
  }
  .btn:is(:hover, :focus) { 
    --deg: -90deg; 
  }
  .w-fill { 
    width: 100%; 
  }
  .text-center { 
    text-align: center; 
  }
  .card-text,
  .section-text { 
    line-height: 1.7; 
  }
  .img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--light-seafoam);
  }
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bg-blue-10 { 
    background-color: var(--rich-navy-teal); 
  }
  .input-field {
    background-color: var(--darkest-teal);
    color: var(--white);
    height: 56px;
    padding: 10px 20px;
    border: 1px solid var(--charcoal-blue);
    margin-block-end: 20px;
    outline: none;
    transition: border-color var(--transition-2);
  }
  .input-field::placeholder { 
    color: inherit; 
  }
  .input-field:focus { 
    border-color: var(--bright-teal); 
  }
  .icon-wrapper {
    position: relative;
    margin-block-end: 20px;
  }
  .icon-wrapper .input-field {
    margin-block-end: 0;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    appearance: none;  /* The appearance CSS property controls how form elements are styled by the browser's default styling. "appearance: none" removes the browser's default styling from form elements*/
    cursor: pointer;
  }
  .icon-wrapper ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    --ionicon-stroke-width: 50px;
    pointer-events: none;
  }
  .icon-wrapper ion-icon:first-child { 
    left: 15px; 
  }
  .icon-wrapper ion-icon:last-child { 
    right: 10px; 
  }
  .contact-number {
    color: var(--bright-teal);
    max-width: max-content;
    margin-inline: auto;
  }
  .contact-number::after { 
    bottom: -5px; 
  }
  .hover-underline {
    position: relative;
    max-width: max-content;
  }
  .hover-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-block: 1px solid var(--bright-teal);
    transform: scaleX(0.2);
    opacity: 0;
    transition: var(--transition-2);
  }
  .hover-underline:is(:hover, :focus-visible)::after {
    transform: scaleX(1);
    opacity: 1;
  }
  .separator {
    width: 8px;
    height: 8px;
    border: 1px solid var(--bright-teal);
    transform: rotate(45deg);
  }
  .contact-label { 
    font-weight: var(--weight-700); 
  }
  
  /* APPOINTMENT */
  .input-field[type="date"] {
    text-transform: uppercase;
    padding-inline-end: 10px;
  }
  .input-field[type="date"]::-webkit-calendar-picker-indicator { 
    opacity: 0; 
  }
  textarea.input-field {
    resize: none;
    height: 140px;
    padding-block: 20px;
    line-height: var(--lineHeight-1);
  }

  /* FOOTER */
  .footer-link {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-block: 10px;
    transition: var(--transition);
    text-decoration: none;
    color: inherit;
  }
  .footer-link ion-icon {
    color: var(--vibrant-coral);
    --ionicon-stroke-width: 50px;
  }
  .footer-link:is(:hover, :focus) { 
    color: var(--white); 
  }
}

/* MEDIA QUERIES */
@media (min-width: 575px) {
  :root {
    /* typography */
    --fontSize-1: 4.2rem;
  }

  /* REUSABLE STYLES */
  .custom-container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }
  .contact-number { 
    --fontSize-body-1: 3rem; 
  }
}

@media (min-width: 768px) {
  :root {
    /* typography */
    --fontSize-2: 4.8rem;
  }

  /* RESET */
  body { 
    font-size: 1.6rem; 
  }

  /* REUSABLE STYLES */
  .custom-container { 
    max-width: 750px; 
  }
  .section-subtitle { 
    --fontSize-6: 2.2rem; 
  }
}

@media (min-width: 992px) {
  :root {
    /* typography */
    --fontSize-2: 6rem;
    --fontSize-1: 4.6rem;
    --fontSize-3: 4.6rem;
  }

  /* REUSABLE STYLES */
  .custom-container { 
    max-width: 980px; 
  }
}

@media (min-width: 1200px) {
  :root {
    /* typography */
    --fontSize-2: 8rem;
    --fontSize-1: 5.5rem;
    --fontSize-3: 4.8rem;
  }

  /* REUSABLE STYLES */
  .custom-container { 
    max-width: 1180px; 
  }
}